<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Profile</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Nom</string>
			<key>Key</key>
			<string>first_name</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Prénom</string>
			<key>Key</key>
			<string>last_name</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Groupe sanguin</string>
			<key>Key</key>
			<string>blood_group</string>
			<key>DefaultValue</key>
			<string>Ap</string>
			<key>Values</key>
			<array>
				<string>Om</string>
				<string>Op</string>
				<string>Am</string>
				<string>Ap</string>
				<string>Bm</string>
				<string>Bp</string>
				<string>ABm</string>
				<string>ABp</string>
			</array>
			<key>Titles</key>
			<array>
				<string>O-</string>
				<string>O+</string>
				<string>A-</string>
				<string>A+</string>
				<string>B-</string>
				<string>B+</string>
				<string>AB-</string>
				<string>AB+</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Divers</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Notifications</string>
			<key>File</key>
			<string>sms-notification</string>
		</dict>
	</array>
</dict>
</plist>
